@mixin bodyMixin {

    * {
        font-family: $fontf;
        color: $texts;
    }

    body {
        margin: 0;
        box-sizing: border-box;
    }
}

@mixin ul_all {
    ul {
        margin: 0;
        height: 4em;
        list-style: none;

        li {
            display: inline-block;
            padding: 1.3em;

            a {
                text-decoration: none;
                color: $white;
                padding: 0 1em;
            }
        }
    }
}

@mixin priceTag {

    %priceTag {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s ease-out;
        color: $black;
        position: absolute;
    }

}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}