@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$scream: #f75311;
$back: #374249;
$texts: #797979;
$heads: $back;
$hover: #cfd1d3;
$sectionBack: #f3f7f9;
$white: white;
$black: black;

$fontf: 'Roboto',
sans-serif;