@import "./components/globals";

header {
  .topbar {
    padding: $base-padding;
    background-color: $color-main;
    color: $color-text;
    a {
      margin-left: 10px;
      text-decoration: underline;
    }
  }
  nav {
    background-color: $color-secondary;
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: $base-padding 0;
      li {
        padding: $base-padding;
        text-align: center;
        min-width: 100%;
        color: $color-text;
      }
    }
  }
}
.banner-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner {
    background-image: url("../slike/intro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
  }
  .banner-text {
    position: relative;
    z-index: 5;
    color: $color-text;
    background-color: $color-background-dark;
    padding: $base-padding * 2;
    padding-top: ($base-padding / 3);
    min-width: 100%;
    * {
      text-align: center;
    }
    h1 {
      font-size: $fs-xxl; // TODO
      font-weight: 500; // TODO
    }
    p {
      font-size: $fs-lg;
    }
  }
}

.filters {
  padding: $base-padding;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    li {
      @include gray-button($base-padding / 2);
    }
  }
}
.cards-section {
  background-color: $color-background-secondary;
  padding: $base-padding * 3 $base-padding;
  .cards-section__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    .cards-section__card {
      position: relative;
      max-height: 200px;
      overflow: hidden;
      .cards-section__card__overlay {
        position: absolute;
        padding: $base-padding;
        padding-bottom: $base-padding * 3;
        background-color: rgba($color-background, 0.7);
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
