.contact {
  background-color: $hoverBgColor;
  text-align: center;
  padding: 4rem 0;
  @include respond-to('small') {
    padding: 4rem 0 6rem 0;
  }
  h2 {
    color: $mainHeadingColor;
    margin-bottom: 4rem;
    @include respond-to('small') {
      font-size: 3rem;
    }
  }
  form {
    background-color: $orange;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    @include respond-to('small') {
      margin-top: 3rem;
      padding: 3rem;
    }
    @include respond-to('large') {
      margin-top: 0;
      width: 60%;
    }
    .form--flex {
      @include respond-to('medium') {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        select {
          width: 150px;
        }
        input {
          width: 550px;
        }
      }
      @include respond-to('large') {
        input {
          width: 520px;
        }
      }
    }
    select,
    input,
    textarea {
      width: 100%;
      padding: 0.4rem;
      border: none;
      @include respond-to('small') {
        padding: 0.8rem;
      }
    }
    select,
    input {
      margin-bottom: 1.5rem;
      @include respond-to('small') {
        margin-bottom: 2.5rem;
      }
    }
  }
}

iframe {
  width: 300px;
  min-height: 250px;
  @include respond-to('small') {
    width: 80%;
    min-height: 300px;
  }
  @include respond-to('medium') {
    width: 50%;
  }
  @include respond-to('large') {
    width: 30%;
  }
}
::placeholder {
  @include respond-to('medium') {
    font-size: 1.5rem;
  }
}
.contact--desktop {
  @include respond-to('large') {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
