.houses {
  background-color: $hoverBgColor;
  padding: 4rem 0;
  @include respond-to('small') {
    padding: 7rem 0 4rem 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    @include respond-to('small') {
      grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));
    }
    @include respond-to('medium') {
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }
  }
  figure {
    position: relative;
    max-height: 220px;
    overflow: hidden;
    margin-bottom: 2rem;
    @include respond-to('small') {
      width: 530px;
      max-height: 320px;
      margin-bottom: 3rem;
    }
    @include respond-to('medium') {
      width: 370px;
    }
    img {
      width: 100%;
      &:hover + .houses__hoverDiv {
        display: block;
      }
    }
  }
}
.houses__hoverDiv {
  color: #000;
  background-color: rgba(243, 247, 249, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40%;
  padding: 1.5rem 1rem;
  // display: none;
  text-align: left;
  @include respond-to('medium') {
    display: none;
  }
  &:hover {
    display: block;
  }
  span {
    display: block;
    font-size: 1.8rem;
    @include respond-to('small') {
      font-size: 2.4rem;
    }
  }
}
