@mixin gray-button($padding) {
  & {
    display: inline-block;
    padding: $padding; // TODO
    border-radius: 100px;
    border: 1px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
  }
}
@mixin section-padding() {
  & {
    padding: $base-padding * 3 $base-padding;
  }
}
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
