.pricing {
  text-align: center;
  padding: 4rem;
  @include respond-to('small') {
    padding: 5rem 0 7rem 0;
  }
  h2 {
    color: $mainHeadingColor;
    @include respond-to('small') {
      font-size: 3rem;
    }
  }
  p {
    margin: 3rem 0 2.5rem 0;
    @include respond-to('small') {
      margin: 5rem 0 4.5rem 0;
    }
  }
  a {
    @extend %mainButton;
    text-decoration: none;
    @include respond-to('medium') {
      display: none;
    }
  }
}
.pricing__table {
  display: none;
  width: 100%;
  min-height: 180px;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid $mainFontColor;
  }
  th {
    color: #fff;
    background-color: $darkBlue;
  }
  .table--hidden {
    visibility: hidden;
    border: none;
  }
  .table--orange {
    background-color: $orange;
  }
  .no-b {
    border: none;
  }
  @include respond-to('medium') {
    display: table;
    margin: 0 auto;
  }
  @include respond-to('large') {
    width: 60%;
  }
}
