// Colors

$color-secondary: rgb(64, 67, 80);
$color-main: #ff5335;
$color-background: rgb(241, 241, 241);
$color-background-secondary: rgb(245, 235, 235);
$color-text: $color-background;
$color-background-dark: #1c1c1c;
$color-text-dark: $color-background-dark;
$color-gray: rgb(160, 160, 160);

// Fonts
$main-font: "Roboto", sans-serif;

// Font-sizes

$fs-normal: 16px;
$fs-lg: 1.5em;
$fs-xl: 2em;
$fs-xxl: 2.5em;

// Paddings
$base-padding: 15px;

// Margins
$margin-center: 0 auto;